<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.francescomalagrino.mynews">
    <!--
     A permission is configured via the  <uses-permission>   tag followed by the
    permission in question, here INTERNET. You can retrieve the full list of permissions
    from Android’s site
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.francescomalagrino.mynews.Utils.Channel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.francescomalagrino.mynews.Utils.NotificationsNewsReceiver">
            <intent-filter>
                <action android:name="my.action.string" />
            </intent-filter>
        </receiver>

        <activity android:name="com.francescomalagrino.mynews.Controllers.Activities.NYSearchResultActivity"></activity>


        <!-- A child of the main activity -->
        <activity
            android:name="com.francescomalagrino.mynews.Controllers.Activities.NotificationsActivity"
            android:parentActivityName="com.francescomalagrino.mynews.Controllers.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.francescomalagrino.mynews.Controllers.Activities.MainActivity" />
        </activity>
        <activity
            android:name="com.francescomalagrino.mynews.Controllers.Activities.HelpActivity"
            android:parentActivityName="com.francescomalagrino.mynews.Controllers.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.francescomalagrino.mynews.Controllers.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.francescomalagrino.mynews.Controllers.Activities.AboutActivity"
            android:parentActivityName="com.francescomalagrino.mynews.Controllers.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.francescomalagrino.mynews.Controllers.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.francescomalagrino.mynews.Controllers.Activities.NewYorkTimesWebViewActivity"
            android:parentActivityName="com.francescomalagrino.mynews.Controllers.Activities.MainActivity" />
        <activity
            android:name="com.francescomalagrino.mynews.Controllers.Activities.SearchActivity"
            android:parentActivityName="com.francescomalagrino.mynews.Controllers.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.francescomalagrino.mynews.Controllers.Activities.MainActivity" />
        </activity> <!-- Launch Activity -->
        <activity android:name="com.francescomalagrino.mynews.Controllers.Activities.MainActivity" />
        <activity android:name="com.francescomalagrino.mynews.Controllers.Activities.WelcomeActivity" />
        <activity android:name="com.francescomalagrino.mynews.Controllers.Activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
